

<!DOCTYPE html>
<html>
<head>
	<title>Add Form Data to Table</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
	<script>
		function addData() {
			// Get the form data
			var name = document.getElementById("name").value;
			var email = document.getElementById("email").value;
			var phone = document.getElementById("phone").value;

			// Get the table
			var table = document.getElementById("data-table");

			// Create a new row
			var row = table.insertRow();

			// Add the form data to the cells in the row
			var nameCell = row.insertCell(0);
			nameCell.innerHTML = name;

			var emailCell = row.insertCell(1);
			emailCell.innerHTML = email;

			var phoneCell = row.insertCell(2);
			phoneCell.innerHTML = phone;

        }
            
		
	</script> -->
</head>
<body>
	<h1>Add Form Data to Table</h1>

	<form>
		<!-- <label>Product:</label>
		<input type="text" id="name"><br> -->

        <label for="fname">Customer name:</label>
        <input type="text" id="fname" name="fname"><br><br>
      
        <label for="fname">Customer contact No:</label>
        <input type="text" id="fname" name="fname"><br><br>
      
        <label for="fname">Bill No:</label>
        <input type="text" id="fname" name="fname"><br><br>
      
       



        <!-- <label for="cars">Select Product:</label>
  <select name="cars" id="name">
    <option value="none"></option>
    <option value="soap">soap</option>
    <option value="rice">rice</option>
    <option value="oil">oil</option>
    <option value="biscuit">biscuit</option>
  </select>
  <br><br> -->

  

		<!-- <label>Quantity:</label>
		<input type="number" id="email"><br> -->

		<label>Amount:</label>
		<input type="text" id="phone"><br>

		<!-- <input type="button" value="Add Data" onclick="addData()">
	</form>

	<table id="data-table">
		<tr>
            
			<th>Product</th>
            
			<th>Quantity</th>
            
			<th>Amount</th>

		</tr>
	</table> -->
</body>
</html>

